.content{
    width:100%;
    height:300%;
    border:1px solid #ab2b1e;
}

.content .page-1{
    display:block;
    height: 33.3333%;
    min-width: 1000px;
    min-height: 500px;
    background: url(../images/bg-1.jpg) no-repeat center;
    border:1px solid #5649f2;
}

.content .page-1 .middle{
     display: block;
     margin:5% auto;
     width:1000px;
 }

.content .page-2{
    display:block;
    height: 33.3333%;
    min-width: 1000px;
    min-height: 500px;
    background: url(../images/bg-2.jpg) no-repeat center;
    border:1px solid #5649f2;
}